button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ffffff; 
    transform: translateY(-2px);
    color: #000000;
}

button:active {
    background-color: rgb(255, 255, 255); 
    transform: translateY(0);
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: waveAnimation 2s linear infinite;
    background: linear-gradient(45deg, #fd3737, #fdc830, #ff5f5f);
    background-size: 200% 200%;
}

header {
    text-align: center;
}

@keyframes waveAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input {
font-size: 14px;
border-radius: 6px;
line-height: 1.5;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #dee1e2;
color: rgb(14, 14, 16);
background: #dee1e2;
display: block;
height: 36px;
:hover {
    border-color: #ccc;
}
:focus{
    border-color: #9147ff;
    background: #fff;
}
}